<div class="messages box">
  <ul class="message-list tl">
    {{#each messages as |msg|}}
      {{single-message msg=msg}}
    {{/each}}
  </ul>
</div>
<div class="input box">
  {{input value=msg placeholder="Message #coderdojo" enter=(action 'sendMsg')}}
</div>